<?xml version="1.0" ?>
<robot name="toroidal_wall">
  <link name="world"/>

  <link name="toroidal_wall_link">
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <!-- Visual - Toroidal Wall -->
    <visual>
      <origin xyz="0.35 0.0 0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.45 0.4"/>
      </geometry>
      <material name="red">
        <color rgba="0.8 0.1 0.1 0.6"/>
      </material>
    </visual>
    <!-- Collision -->
    <collision>
      <origin xyz="0.35 0.0 0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.45 0.4"/>
      </geometry>
    </collision>
  </link>

  <joint name="toroidal_wall_joint" type="fixed">
    <parent link="world"/>
    <child link="toroidal_wall_link"/>
  </joint>
</robot>
