<?xml version="1.0" encoding="utf-8"?>
<robot name="box_obstacle" path="/input/box_obstacle.urdf">
	<link name="world"></link>
	<link name="obstacle_box_link">
		<inertial>
			<mass value="1.0"></mass>
			<origin xyz="0 0 0" rpy="0 0 0"></origin>
			<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"></inertia>
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"></origin>
			<geometry>
				<box size="0.15 0.15 0.3"></box>
			</geometry>
			<material name="red">
				<color rgba="0.8 0.1 0.1 0.6"></color>
			</material>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.106209"></sphere>
			</geometry>
			<origin xyz="0.021825 0.0 -0.096824" rpy="0 0 0"></origin>
		</collision>
		<collision>
			<geometry>
				<sphere radius="0.112245"></sphere>
			</geometry>
			<origin xyz="0.000736 -0.000736 -0.041403" rpy="0 0 0"></origin>
		</collision>
		<collision>
			<geometry>
				<sphere radius="0.127712"></sphere>
			</geometry>
			<origin xyz="-0.001451 0.001448 -0.075901" rpy="0 0 0"></origin>
		</collision>
		<collision>
			<geometry>
				<sphere radius="0.069048"></sphere>
			</geometry>
			<origin xyz="-0.038699 -0.028825 -0.1137" rpy="0 0 0"></origin>
		</collision>
		<collision>
			<geometry>
				<sphere radius="0.129903"></sphere>
			</geometry>
			<origin xyz="3e-06 2e-06 0.075007" rpy="0 0 0"></origin>
		</collision>
	</link>
	<joint name="obstacle_box_joint" type="fixed">
		<parent link="world"></parent>
		<child link="obstacle_box_link"></child>
		<origin xyz="0.3 0.15 0.2" rpy="0 0 0"></origin>
	</joint>
</robot>