*.lo
*.o
*.la
*.log
*.cache
*.status
*.al
Makefile
/libtool
/src/makeTreeSpawn
/src/makeTreeOctree
/src/makeTreeMedial
/src/makeTreeHubbard
/src/makeTreeGrid
/build/
/.mypy_cache/
*.json
/scripts/__pycache__/
/foam/makeTreeMedial
*.pyc
/foam.egg-info/
/foam/external/simplify
/foam/external/manifold
/foam/external/makeTreeSpawn
/foam/external/makeTreeOctree
/foam/external/makeTreeMedial
/foam/external/makeTreeHubbard
/foam/external/makeTreeGrid
/foam/external/libspheretree.a
/foam/external/manifold_old
/foam/external/simplify_old
PAT.txt
/lib
/lib64
/bin
/gen
# pixi environments
.pixi/*
!.pixi/config.toml
